<div class="welcome-container">
    <app-header></app-header>
    <div class="background-panel"></div>
    <div class="foreground-panel">
        <div class="foreground-image-info">
            <div>
                <p class="recipeTitle">Roasted Chicken</p>
                <div class="recipeInfo">
                    <p>1800 <span style="font-style: italic; font-size: 20px;">Kcal</span></p>
                    <p><i class="bi bi-star-fill"></i> 4.7</p>
                </div>
                <div class="time">
                    <i class="bi bi-clock"></i>
                    <p>50 - 60 mins</p> 
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <p><span>Cook the best</span><br>recipes now!</p>
        <p>Turn simple ingredients into extraordinary meals in under 30 minutes-<br>because great taste shouldn't wait
            for a special occasion or hours of preparation.</p>
        <app-category-card></app-category-card>
    </div>
</div>