.welcome-container {
  width: 100%;
  min-height: 100%;
}

.background-panel {
  position: absolute;
  top: -20%;
  bottom: -20%;
  right: -60%;
  width: 100%;
  height: 160%;
  background-image: url('/assets/home-background.png');
  background-size: cover;
  background-position: right;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  z-index: -10;
}

.foreground-panel {
  position: absolute;
  width: 500px;
  height: 100%;
  right: 20%;
}

.foreground-panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/assets/home-image.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.foreground-image-info {
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 200px;
  background-color: orange;
  border-radius: 20px;
  position: absolute;
  bottom: 100px;
  left: 30%;
  z-index: -9;

  div {
    p {
      color: white;
    }
  }
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 40px;
  background-color: #000;
  border-radius: 50px;
  border: 1px solid white;
  margin-top: 10px;
  color: white;

  i {
    color: white;
  }
}

.container {
  display: flex;
  flex-direction: row;
}

.home-image {
  width: 300px;
  height: 300px;
}

.content {
  margin-top: 20px;
  z-index: -1;
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 3%;

  p:first-child {
    margin-bottom: 0;
    font-size: 70px;

    span {
      font-size: 80px;
      font-weight: bold;
    }
  }

  p:last-child {
    margin-top: 0;
    max-width: 20%;
  }
}

.recipeTitle {
  position: relative;
  top: 14px;
  font-size: 22px;
  padding: 0;
}

.recipeInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}