.rating-card {
  background-color: white;
  max-width: 300px;
  height: auto;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  
  &:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

  }

  p {
    margin: 0 20px;
    padding-bottom: 15px;
  }

  .rating-card-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;

    .rating-card-name-rating {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h4 {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }

    .avatar {
      background-color: #129575;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: relative;
      top: -10px;
      overflow: hidden;
      border: 5px solid #fff;
      transition: all 0.5s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:hover{
        .avatar{
            transform: translateY(-30px) scale(1.6); 
        }
    }
  }

  .star-rating {
    display: flex;
    gap: 3px;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;

    .star {
      font-size: 1.2rem;
      color: lightgray;
      font-style: normal;
      
      &.filled {
        color: #f4a906;
      }
    }

    span {
      margin-left: 5px;
      font-size: 0.9rem;
      color: #666;
    }
  }
}