<div class="rating-card">
    <div class="rating-card-inner">
        <div class="avatar">
            <img [src]="imageUrl" alt="user">
        </div>
        <div class="rating-card-name-rating">
            <h4>{{name}}</h4>
            <div class="star-rating">
                <ng-container *ngFor="let star of stars">
                    <i class="star" [class.filled]="star <= rating">
                        ★
                    </i>
                </ng-container>
                <span>{{rating}}/5</span>
            </div>
        </div>
    </div>
    <p>{{review}}</p>
</div>