<div class="container">
    <app-ni [ni]="recipe.ni"></app-ni>
    <h3>Recent Recipes</h3>
    <div class="recent-recipes">
        <div *ngFor="let r of recentRecipes">
            <app-recipe-card variant="minimal" [recipe]="r"></app-recipe-card>
        </div>
    </div>
    <app-new-settler
        header="Stay connected with our<br>Recipes Update" 
        varient="minimal"
        text="for the latest health tips and delicious<br> recipes"
        >
    </app-new-settler>
    <div class="related-recipes">
        <div *ngFor="let r of relatedRecipes">
            <app-recipe-card variant="minimal" [recipe]="r"></app-recipe-card>
        </div>
    </div>
</div>