<div class="container">
    <div class="title">
        <h1>TasteCraft</h1>
        <p>Discover, share, and cook delicious recipes from <br>around the world.
            Join our food-loving community today!</p>
    </div>
    <div class="links">
        <div class="links-inner">
            <a href="">Home</a>
            <a href="">Notifications</a>
            <a href="">Saved Recipes</a>
            <a href="">Profile</a>
        </div>
        <div class="links-inner">
            <a href="">Terms of use</a>
            <a href="">Privacy & cookie</a>
        </div>
    </div>
    <div class="new-settler">
        <h3>New Settler</h3>
        <input type="email" placeholder="Enter your email" autocomplete="flase">
        <app-button [text]="'Subscribe'"></app-button>
    </div>
</div>

<hr>
<div class="bottom-footer">
    <p>&copy; 2025 TasteCraft. All rights reserved</p>
    <div class="social-media">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter-x"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-tiktok"></i>
        <i class="bi bi-pinterest"></i>
    </div>
</div>