.container{
    display: block;
    margin: 0 100px;

    hr{
        width: 95%;
        color: gray;
        opacity: 0.4;
        margin-top: 30px;
    }

    .divs{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        hr{
            width: 1px;
            height: 100%;
        }
    }

}
app-footer{
    margin-top: 20px;
}    