<app-header></app-header>
<div class="read">
    <span (click)="setFilter('all')" [class.active]="(selectedFilter$ | async) === 'all'">
        All
    </span>
    <span (click)="setFilter('unread')" [class.active]="(selectedFilter$ | async) === 'unread'">
        Unread
    </span>
    <span (click)="setFilter('read')" [class.active]="(selectedFilter$|async) === 'read'">
        Read
    </span>
</div>
<div class="notification-cards">
    <app-notification-card 
        *ngFor="let notification of filteredNotifications$ | async; trackBy: trackById" 
        [notification]="notification"  
        (delete)="deleteNotification($event)"
        (markAsRead)="markAsRead($event)"
        >
    </app-notification-card>
</div>
<app-footer></app-footer>