.image-upload-box {
  width: 100%;
  height: 200px;
  border: 2px solid rgba(18, 149, 117, 1);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
  transition: border-color 0.01s;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image-controls {
    height: 90%;
    position: absolute;
    left: 10px;
    margin: 10px 0;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;

      i{
        font-size: 17px;
      }
    }
  }

  .image-upload-box:hover {
    //border-color: #666;
    border: groove;
  }

  .camera-icon {
    font-size: 40px;
    color: #999;
  }

  .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}