<h1>{{title}}</h1>
<div class="recipes">
    <app-recipe-card 
    *ngFor="let i of title === 'Explore Recipes' ? visibleRecipes : visibleRecentRecipes" 
    [recipe]="i" 
    [routerLink]="['/recipe', i.recipeId]" 
    class="clickable-card">
    </app-recipe-card>
</div>
<div class="view-more-container">
    <a href="" (click)="title === 'Explore Recipes' ? viewMoreRecipes() : viewMoreRecentRecipes();
     $event.preventDefault()" *ngIf="shouldShowViewMore()">
        View more >>
    </a>
</div>