:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 90px;
}

.recipes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}