:host{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 20px;
    cursor: pointer;

    .blog-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 10px;
            max-width: 300px;
            max-height: 200px;
        }

        h2 {
            color: rgb(18, 149, 117, 1);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    .blog-author-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
            font-size: 0.8rem;
            color: rgb(18, 149, 117, 1);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    }
}