<app-header></app-header>

<ng-container *ngIf="user$ | async as user">
    <div class="submit-button">
        <h1 *ngIf="user.role.toString() === 'CHEF'">Create Recipe</h1>
        <h1 *ngIf="user.role.toString() === 'USER'">Upgrade to Chef</h1>
        <app-button [text]="'Save'"></app-button>
    </div>
    <hr>
    <app-create-recipe-form *ngIf="user.role.toString() === 'CHEF'"></app-create-recipe-form>
    <app-upgrade-to-chef *ngIf="user.role.toString() === 'USER'"></app-upgrade-to-chef>
</ng-container>
<app-footer></app-footer>