.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

hr {
    height: 1px;
    width: 90%;
    border: none;
    background-color: rgba(200,200,200,0.4);
}