<app-header></app-header>

<!-- <div class="container">
    <app-recipe-card 
        *ngFor="let recipe of AppRecipes" 
        [routerLink]="['/recipe', recipe.recipeId]"
        [recipe]="recipe"
        class="clickable-card">
    </app-recipe-card>

</div> -->
<div *ngIf="AppRecipes?.length; else noRecipes">
    <app-recipe-container [recipes]="AppRecipes"></app-recipe-container>
</div>
<ng-template #noRecipes>
  <p>No recipes found in this category.</p>
</ng-template>

<app-footer></app-footer>
