<app-header></app-header>
<div class="home-container1" #heroSection>
    <div class="home-text1">
        <h1>Your Daily Dish<br>A <span>Food</span> Journey</h1>
        <p>
            Discover delicious recipes from around the world! Whether you're a beginner or a pro,
            find easy-to-follow recipes, save your favorites, and start cooking.
        </p>
        <app-button [text]="'View Recipes'" [route]="'home'" [fragment]="'explore-recipes'"></app-button>
    </div>
    <div class="home-image1">
        <img src="assets/home-plate.png" alt="Home recipe image">
        <app-rating-card [name]="'Sara Johnson'" [imageUrl]="'assets/SaraJohnson.jpeg'"
            [review]="'Wow, this recipe is a flavor explosion in my mouth. Very delicious'" [rating]="4">
        </app-rating-card>
    </div>
</div>
<div class="home-container2" #shareSection>
    <div class="home-image2">
        <img src="assets/ShareRecipe.jpg" alt="Share recipe image">
    </div>
    <div class="home-text2">
        <h1>Share your <span>Recipes</span></h1>
        <p>Showcase your best dishes, inspire other home cooks, and become part of our growing food community!</p>
        <app-button [route]="'create-recipe'" [text]="'Create Recipes'"></app-button>
    </div>
</div>
<app-recipe-container [recipes]="recentRecipes" [title]="'Trending Recipes'"></app-recipe-container>
<div class="home-container4">
    <h1>Blogs</h1>
    <div class="blogs">
        <app-blog-card *ngFor="let blog of visibleBlogs" [blog]="blog"></app-blog-card>
    </div>
    <div class="view-more-container">
        <a href="" (click)="viewMore(); $event.preventDefault()">View more >></a>
    </div>
</div>
<app-recipe-container [recipes]="recipes" id="explore-recipes" [title]="'Explore Recipes'"></app-recipe-container>
<app-new-settler></app-new-settler>
<h1 style="text-align: center;padding: 50px;">Popular Categories</h1>
<div class="home-categories">
    <app-home-categories *ngFor="let category of visibileCategories" [category]="category"
        [imageUrl]="categoryImages[category.categoryName]"></app-home-categories>
</div>
<div class="view-more-container">
    <a href="" (click)="viewMoreCategories(); $event.preventDefault()" *ngIf="categoriesToShow<categories.length">View
        more >></a>
</div>
<div class="brands">
    <app-brands *ngFor="let b of brands" [brand]="b"></app-brands>
</div>
<button (click)="logout()">Log Out</button>
<app-footer class="app-footer"></app-footer>