.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .recipe-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    p {
      margin: 0;
    }

    .recipe-info-div {
      display: flex;
      flex-direction: row;
      gap: 5px;

      &:first-child {
        &:hover {
          cursor: pointer;
        }
      }

      .star-rating {
        padding-left: 70px;
        display: flex;
        gap: 3px;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
      }

      .star {
        font-size: 1.2rem;
        color: lightgray;
        //transition: color 0.3s;
        font-style: normal;
      }

      .star.filled {
        color: rgb(244, 169, 6);
      }

      .chef-img {
        width: 20px;
        height: 20px;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }

    }
  }

  .save-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-right: 300px;

    .bookmark{
      font-size: 26px;
      color: rgb(18, 149, 117);
    }
    .bookmarkfill{
      font-size: 26px;
      color: rgb(18, 149, 117);
    }

    svg {
      cursor: pointer;
      stroke: rgb(18, 149, 117);
      stroke-width: 1.5;
      fill: none;
      transition: all 0.2s ease;

    }
  }
}