.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

.recipe-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    p{
        margin: 0;
    }
    .recipe-info-div{
        display: flex;
        flex-direction: row;
        gap: 5px;

        .star-rating {
            padding-left: 70px;
            display: flex;
            gap: 3px;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
          }
          
          .star {
            font-size: 1.2rem;
            color: lightgray;
            //transition: color 0.3s;
            font-style: normal;
          }
          
          .star.filled {
            color: rgb(244, 169, 6);
          }
    }
}
.save-share{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 300px;
}
}