:host{
    app-header{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        background-color: white;
    }
    display: block;
    h1{
        padding-left: 7%;
        margin-top: 100px;
    }    

    .blogs-container{
        display: grid;
        margin: 0 auto;
        width: 90%;        
        
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }
    .pagination{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 30px;
        button{
            margin: 0 20px;
            background-color: rgba(18, 149, 117, 1);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 7px 10px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}