:host {
    background-color: rgba(18, 149, 117, 0.2);
    width: 100%;
    display: block;
    margin-top: 100px;

    .container {
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.minimal {
            padding: 30px ;
            h1 {
                text-align: center;
                font-size: 1.4rem;
            }

            p {
                text-align: center;
                font-size: 1rem;
            }

            .email {
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    width: 80%;
                    border: none;
                    padding: 15px 15px;
                    border-radius: 5px;
                }
            }
        }

        p {
            color: gray;
            font-size: 1.5rem;
        }

        .email {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 30px;
            width: 100%;

            input {
                width: 30%;
                border: none;
                padding: 0 10px;
                border-radius: 5px;
            }
        }
    }
}